<web-app>
	<servlet>
		<servlet-name>AhorcadoServlet</servlet-name>
		<servlet-class>AhorcadoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AhorcadoServlet</servlet-name>
		<url-pattern>/AhorcadoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/AdminServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsersAdminServlet</servlet-name>
		<servlet-class>UsersAdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersAdminServlet</servlet-name>
		<url-pattern>/UsersAdminServlet</url-pattern>
	</servlet-mapping>	
</web-app>
